<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Facts</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p>Learn about Mars</p>
      <p><a class="btn btn-primary btn-lg" href="http://127.0.0.1:5000/scrape" role="button">Get Data!</a></p>
    </div>
    <img src="{{ mars.featured_image }}" alt="featured image">
    <h2>Latest Mars News:</h2>
    <h3>{{ mars.news_title }}</h3>
    <h3>{{ mars.news_paragraph }}</h3>
  </div>
  </div>
</body>

</html>
